<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
        <div class="column is-one-third is-hidden-tablet">
          <figure class="image container is-96x96">
            <img class="is-rounded" src="{{ site.baseurl }}/assets/images/house.jpg" alt="Dunreath from the road" />
          </figure>
        </div>
        <div class="column">
          <h1 class="title">Dunreath</h1>
          <h2 class="subtitle">
            {{ page.title }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
