<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{ site.baseurl }}/assets/images/dunreath_shield.jpg" width="28" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% for item in site.navbar %}
        {% if item.submenu %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ item.text }}
            </a>
            <div class="navbar-dropdown">
              {% for subitem in item.submenu %}
                <a class="navbar-item" href="{{ subitem.link }}">
                  {{ subitem.text }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="{{ item.link }}">
            {{ item.text }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  </div>
</nav>
