<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/application.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tweaks.css">
    <base href="{{ site.baseurl }}">
  </head>
  <body>
    {% include navbar.html %}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-mobile is-centered is-vcentered">
            <div class="column is-one-third is-hidden-tablet">
              <figure class="image container is-96x96">
                <img class="is-rounded" src="{{ site.baseurl }}/assets/images/house.jpg" alt="Dunreath from the road" />
              </figure>
            </div>
            <div class="column">
              <h1 class="title">Dunreath</h1>
              <h2 class="subtitle">
                {{ page.title }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <section class="section">
        <div class="columns">
          <div class="column is-one-third is-hidden-mobile">
            <div class="box">
              <figure class="image is3by4">
                <img class="is-rounded" src="{{ site.baseurl }}/assets/images/house.jpg" alt="Dunreath from the road" />
              </figure>
            </div>
          </div>
          <div class="column">
            <div class="box">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
